= semantic_form_for @shout, :remote => true do |form|
  = form.inputs do
    = form.input :message, :label => false
  = form.buttons do
    = form.commit_button :label => "post!!"

.shouts= render :partial => 'shared/shout', :collection =>  @shouts
= link_to t(:update), fetch_shouts_path, :remote => true, :id => "update_shouts"

